.starField {
  position: absolute;
  width: 100vw !important;
  height: 100vh !important;
  display: block !important;
  background-color: black;
  z-index: 0;
  image-rendering: optimizeSpeed; 
  touch-action: none;
}
