/* /components/Starfield/styles.module.css */
.starField {
  position: absolute; /* ou fixed selon le layout */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 0;
  overflow: hidden;
  pointer-events: none;
}

.starField canvas {
  width: 100% !important;
  height: 100% !important;
  display: block !important;
  image-rendering: optimizeSpeed; 
  position: absolute;
}
