:root {
  --primary-color: #f5f5f5;
}

/* animation qui commence 1s apres mount, dure 0.5s et finit 1.5s après le mount */
h1, h2, h3, p {
  animation: textFadeIn 0.5s cubic-bezier(0,0,0,1) 1s forwards;
  transform: translateX(-2rem);
  opacity: 0;
}

/* animation qui commence 1.50s apres mount, dure 0.5s et finit 2s après le mount */
p {
  animation-delay: 1.5s;
}

/* animation qui commence 2s apres mount, dure 0.5s et finit 2.5s après le mount */
#callToActionButton {
  animation: buttonFadeIn 0.5s cubic-bezier(0,0,0,1) 2s forwards;
  transform: translateY(-2rem);
  opacity: 0;
}

/* animation qui commence 0s apres mount, dure 1s et finit 1s après le mount */
#fadeInTextLogo {
  animation: fadeInTextLogo cubic-bezier(0, 0, 0, 1) 1s;
}

/* animation qui commence 1s apres mount, dure 1.5s et finit 2.5s après le mount */
#rotateInOrbitLogo {
  animation: rotateInOrbitLogo cubic-bezier(0, 0, 0, 1) 1.5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  transform-origin: center;
  opacity: 0;
}

/* animation qui commence 0.5s apres mount, dure 1s et finit 1.5s après le mount */
#rotateInPlanetLogo {
  animation: rotateInPlanetLogo cubic-bezier(0, 0, 0, 1) 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  transform-origin: center;
  opacity: 0;
}

@keyframes fadeInTextLogo {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes rotateInOrbitLogo {
  from {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes rotateInPlanetLogo {
  from {
    transform: rotate(90deg);
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  to {
    transform: rotate(360deg);
    opacity: 1;
  }
}

@keyframes textFadeIn {
  from {
    transform: translateX(-2rem);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes buttonFadeIn {
  from {
    transform: translateY(-2rem);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
