.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh; 
  width: 100vw;
  position: relative;
  z-index: 1;
  text-align: center;
  pointer-events: auto;
}

.home__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4em;
}

.home__header_logo {
}

.home__header_title {
  color: var(--primary-text);
  font-size: 32px;
  font-weight: 600;
  margin-top: 1em;
  animation: fadeInText 0.5s cubic-bezier(0,0,0,1) 1s forwards;
  opacity: 0;
  transform: translateX(-2rem);
}

.home__catchphrase {
  color: var(--secondary-text);
  font-size: 24px;
  text-align: center;
  max-width: 700px;
  margin-top: 8rem;
  animation: fadeInText 0.5s cubic-bezier(0,0,0,1) 1.5s forwards;
  opacity: 0;
  transform: translateX(-2rem);
}

.home__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-family: inherit;
  color: var(--primary-text);
  font-size: 24px;
  font-weight: 500;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 100ms;
  margin-top: 8rem;
  animation: fadeInButton 0.5s cubic-bezier(0,0,0,1) 2s forwards;
  opacity: 0;
  transform: translateY(-2rem);
}

.home__button_icon {
  color: var(--secondary-text);
}

.home__button:hover {
  transition: 100ms;
  gap: 0.5rem;
}


@keyframes fadeInText {
  from {
    opacity: 0;
    transform: translateX(-2rem);
  }

  to {
    opacity: 1;
    transform: translateX(0rem);
  }
}

@keyframes fadeInButton {
  from {
    opacity: 0;
    transform: translateY(-2rem);
  }

  to {
    opacity: 1;
    transform: translateY(0rem);
  }
}
