.solarSystem {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%; 
  width: 100%;
  position: relative;
  pointer-events: none;
  opacity: 0;
  animation: fadeInPage 2s cubic-bezier(0,0,0,1) 2s forwards;
}

.solarSystem__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  padding: 0 16px;
  box-sizing: border-box;
  pointer-events: auto;
  background: linear-gradient(180deg,rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
}

.solarSystem__header_logo {
display: flex;
align-items: center;
height: 100%;
gap: 1em;
}

.solarSystem__header_logo_image {
  width: 50px;
  height: 50px;
}

.solarSystem__header_logo_text {
  color: var(--secondary-text);
  font-weight: 600;
  font-size: 16px;
}



.solarSystem__header_searchBar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 32px;
  transition: 250ms;
  width: fit-content;
  transition: 250ms;
  box-sizing: border-box;
  position: relative;
}

.form {
  width: fit-content;
  height: 100%;
  transition: 250ms;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.button_wrap {
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.solarSystem__header_searchBar_icon {
  width: 16px;
  height: 16px;
  color: var(--secondary-text);
}

.solarSystem__header_searchBar_input {
  background: none;
  transition: 250ms;
  color: var(--secondary-text);
  padding: 0 2rem 0 1rem;
  border: var(--border) 1px solid;
  width: 100%;
  height: 100%;  
  border-radius: 8px;
  background-color: var(--background);
}

.results {
  position: absolute;
  top: 40px;
  width: 100%;
  height: fit-content;
  color: var(--secondary-text);
  background-color: var(--background);
  /* border: var(--border) 1px solid; */
  

}

.resultContainer {
  padding: 1rem
}

.resultContainer:hover {
  background-color: #3a3a3c;
}


.resultContainer > a {
  width: 100%;
  text-decoration: none;
  color: var(--secondary-text);
  display: flex;
  justify-content: space-between;
}

.small {
  color: #c7c7cc;
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
}

@keyframes fadeInPage {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}